@page
@model WebApp_EF_Customer.Pages.CustPages.CreateModel

<form method="post">
    <div class="border p-3 mt-4">
        <div>
            <label asp-for="Cust.Name">Full Name</label>
            <input asp-for="Cust.Name"/>
            <span class="text-danger" asp-validation-for="Cust.Name"></span>
        </div>
        <div>
            <label>Contact Number</label>
            <input type="text" name="Cust.Contact"/>
            <span class="text-danger" asp-validation-for="Cust.Contact"></span>
        </div>
        <div>
            <label>Full Adress</label>
            <input type="text" name="Cust.Address"/>
            <span class="text-danger" asp-validation-for="Cust.Address"></span>
        </div>
    <button type="submit" class="btn btn-primary">Create Customer</button>
    </div>
</form>